* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  line-height: 1.5;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--main-color);
}

header .follow a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 0.7rem;
}

header .follow a:hover {
  color: var(--main-color);
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content .hi {
  font-size: 2rem;
  color: var(--main-color);
}

.home .content h3 {
  font-size: 4.5rem;
  color: #111;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: #111;
  padding: 0.5rem 0;
}

.home .content .text {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
}
